source.txt
[{"id":"73646dca.234574","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd3ba933.7ae278","type":"inject","z":"73646dca.234574","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["eac39d93.d10e3"]]},{"id":"f9a6ed60.dce7f8","type":"function","z":"73646dca.234574","name":"US of A","func":"\nvar disparr =[];\nvar taxarr =[];\n\n\n\nfunction calc(inc){\n    let b=[0.1,0.12,0.22,0.24,0.32,0.35,0.37];\n    let l=[0,9875,40125,85525,163300,207350,518400];\n    var taxes = 0;\n    \n    if(inc >l[6]){\n        taxes = (inc-l[6])*b[6]+b[5]*l[5]+b[4]*l[4]+b[3]*l[3]+b[2]*l[2]+b[1]*l[1];\n    }\n    else if(inc > 207351){\n        taxes = (inc-l[5])*b[5]+b[4]*l[4]+b[3]*l[3]+b[2]*l[2]+b[1]*l[1];\n    }\n    else if( inc > 163301){\n        taxes = (inc-l[4])*b[4]+b[3]*l[3]+b[2]*l[2]+b[1]*l[1];\n    }\n    else if(inc > 85526){\n        taxes = (inc-l[3])*b[3]+b[2]*l[2]+b[1]*l[1];\n    }\n    else if(inc > 40126){\n        taxes = (inc-l[2])*b[2]+b[1]*l[1];\n    }else if(inc > 9876){\n        taxes = (inc-l[1])*b[1];\n    }else if(inc <= 9875){\n        taxes = inc*b[0];\n    }\n    \n    return taxes;\n}\n\nfor (let i=0; i<msg.income.length; i+=1){\n    let inc = msg.income[i];\n    \n    let tax = calc(inc);\n    tax+=inc*0.05;\n    taxarr.push(tax);\n    let disp = inc - tax;\n    disparr.push(disp);\n    \n      \n}\n\n\n\nvar newmsg = { payload : disparr , topic : 'usa' };\n\nreturn newmsg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["7f2ff398.4b1514"]]},{"id":"80a96e06.3d3698","type":"function","z":"73646dca.234574","name":"SWEDEN","func":"var taxarr=[];\nvar disparr=[];\nfor (let i=0; i<msg.income.length; i++){\n    let inc = msg.income[i];\n    let tax=0;\n    if (inc>=675700){\n        tax=inc*0.57;\n    }else if(inc>=468700){\n        tax=inc*0.52\n    }else if(inc>=20008){\n        tax=inc*0.32\n    }else{\n        tax=0;\n    }\n    \n    let disp = inc-tax;\n    disparr.push(disp);\n    taxarr.push(tax);\n    \n    \n}\n\n/*\n    0% from 0 kronor to 20,008 kronor\n    Circa 32% (ca. 11% county and 20% municipality tax which is the Swedish average): from 20,008 kronor to 468,700 kronor\n    32% + 20%: from 468,700 kronor to 675,700 kronor\n    32% + 25%: above 675,700 kronor (prior to 2020) [4]\n\n*/\nvar newmsg = { payload : disparr , topic : 'swe' };\nreturn newmsg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["7f2ff398.4b1514"]]},{"id":"6a2d12bf.4d76f4","type":"function","z":"73646dca.234574","name":"GREECE","func":"    var taxarr=[];\n    var disparr=[];\n    let b=[0.09,0.22,0.28,0.36,0.44];\n    let l=[0,10000,20000,30000,40000];\n    \nfunction calc(inc){\n    \n    if (inc>=40001){\n        tax=(inc-l[4])*b[4]+l[3]*b[3]+l[2]*b[2]+l[1]*b[1]+10000*b[0];\n    }else if(inc>=30001){\n        tax=(inc-l[3])*b[3]+l[2]*b[2]+l[1]*b[1]+10000*b[0];\n    }else if(inc>=20001){\n        tax=(inc-l[2])*b[2]+l[1]*b[1]+10000*b[0];\n    }else if(inc>=10001){\n        tax=(inc-l[1])*b[1]+10000*b[0];\n    }else{\n        tax=inc*b[0];\n    }\n    \n    return tax;\n}    \n    \nfor (let i=0; i<msg.income.length; i++){\n    let inc = msg.income[i];\n    let tax=calc(inc);\n\n    let disp = inc-tax;\n    disparr.push(disp);\n    taxarr.push(tax);\n    \n}\n\n\n/*0-10.000 \t9%\n10.001-20.000 \t22%\n20.001-30.000 \t28%\n30.001-40.000 \t36%\n40.001 - \t44%\n\nRead more at Taxheaven: https://www.taxheaven.gr/news/46930/upd-h-nea-klimaka-forologias-eisodhmatos-misowtwn-syntaxioyxwn-gia-to-2020-analytikoi-pinakes\n*/\nvar newmsg = { payload : disparr , topic : 'gr' };\nreturn newmsg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["7f2ff398.4b1514"]]},{"id":"eac39d93.d10e3","type":"function","z":"73646dca.234574","name":"SEND","func":"var arr = [];\nvar arr2 = []; //sweden\nvar arr3 = []; //greece\nfor (let i=0; i<=1200000; i+=3000){\n    \n    arr.push(i);\n    //krona array\n    arr2.push(i*8.75);\n    //euro array\n    arr3.push(i*0.85);\n    \n   \n}\n\nvar us = { income : arr };\nvar swe = { income : arr2 };\nvar gr = { income : arr3 };\nreturn [us, swe, gr];","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["80a96e06.3d3698","6a2d12bf.4d76f4","f9a6ed60.dce7f8"]]},{"id":"e92a64db.1b6208","type":"ui_chart","z":"73646dca.234574","name":"","group":"26771aeb.e52efe","order":0,"width":"12","height":"8","label":"IN US DOLLARS","chartType":"line","legend":"true","xformat":"SSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ffffff","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":200,"wires":[[]]},{"id":"7f2ff398.4b1514","type":"join","z":"73646dca.234574","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":200,"wires":[["7b9d737d.9b8704"]]},{"id":"7b9d737d.9b8704","type":"function","z":"73646dca.234574","name":"MERGE","func":"var swearr=[];\nvar grarr=[];\nvar usarr=[];\n\nvar msgswe={};\nvar msggr={};\nvar msgusa={};\n\nfor (let i=0; i<30; i++){\n    \n    let sweobj = { \"x\" : i, \"y\":msg.payload.swe[i]};\n    let grobj = { \"x\" : i, \"y\":msg.payload.gr[i]};\n    let usaobj = {\"x\" : i, \"y\":msg.payload.usa[i]};\n    \n    swearr.push(sweobj);\n    grarr.push(grobj);\n    usarr.push(usaobj);\n    \n    \n}\n\n\n\nmsgswe.payload = [{\n  \"series\": [\"A\"],\n  \"data\": [swearr],\n  \"labels\": [ ],\n  \"topic\":\"swe\"\n}];\n\nconsole.log(msgswe);\nmsggr.payload = [{\n  \"series\": [\"A\"],\n  \"data\": [grarr],\n  \"labels\": [ ],\n  \"topic\":\"gr\"\n}];\n\nmsgusa.payload = [{\n  \"series\": [\"A\"],\n  \"data\": [usarr],\n  \"labels\": [ ],\n  \"topic\":\"usa\"\n}];\n\nvar finmsg = {};\n\nfinmsg.payload = [{\n    \"series\": [\"SWE\", \"GR\", \"USA\" ],\n    \"data\": [ swearr, grarr, usarr ],\n    \"labels\": [ \"SWE\", \"GR\", \"USA\" ]\n}];\n\n/*node.send(msggr);\nnode.send(msgswe);\nnode.send(msgusa);*/\n\nreturn finmsg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["e92a64db.1b6208"]]},{"id":"d9f8ac56.32dab8","type":"inject","z":"73646dca.234574","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["5cb96503.2dea4c","f8c2fa5f.c04dc"]]},{"id":"7e2a25c7.531b7c","type":"function","z":"73646dca.234574","name":"SWEDEN","func":"var arr=[];\nfor (let i=0; i<msg.payload.length; i++){\n    let value = msg.payload[i].col1;\n    let x = msg.payload[i].col2;\n    if (typeof value ==\"string\" && value.indexOf('-')> -1){\n        \n        let str = value.split('-');\n        let m = (parseInt(str[0])+parseInt(str[1]))/2;\n        m=m*1000*0.11;\n        let obj = { \"x\" : x, \"y\" : m };\n        arr.push(obj);\n        \n    }else{\n        m=value*1000*0.11;\n        let obj = { \"x\" : x, \"y\" : m };\n        arr.push(obj);\n        \n    }\n    \n}\nvar high=0;\nvar upmiddle=0;\nvar middle=0;\nvar lowmiddle=0;\nvar low=0;\nvar sum=0;\n\nfor (let i=0; i<arr.length; i++){\n    let eclass=[];\n    let x = arr[i].x;\n    if (arr[i].y >= 97500){\n        eclass[i]=4;\n        high+=x\n    }else if (arr[i].y >=86000){\n        eclass[i]=3;\n        upmiddle+=x;\n    }else if (arr[i].y >=42000){\n        eclass[i]=2;\n        middle+=x\n    }else if (arr[i].y >= 31000){\n        eclass[i]=1;\n        lowmiddle+=x;\n    }else{\n        eclass[i]=0;\n        low+=x;\n    }\n    sum=sum+x;\n}\n\n\nvar shigh, supmiddle, smiddle, slowmiddle, slow;\nshigh = high/sum;\nsupmiddle = upmiddle/sum;\nsmiddle = middle/sum;\nslowmiddle = lowmiddle/sum;\nslow = low/sum;\n\nvar obj1 = {x:1,y:slow};\nvar obj2 = {x:2,y:slowmiddle};\nvar obj3 = {x:3,y:smiddle};\nvar obj4 = {x:4,y:supmiddle};\nvar obj5 = {x:5,y:shigh};\n\n\n\nvar objarr=[slow,slowmiddle,smiddle,supmiddle,shigh];\n\n//objarr.push(obj1,obj2,obj3,obj4,obj5);\n\n\n\nvar m={};\nm.topic =\"swe\";\nm.payload = objarr;\nreturn m;\n/*var msg1={};\n\nmsg1.payload\n\n\nvar msgswe ={};\nmsgswe.payload=arr;\nmsgswe.topic=\"swe\";\n\n\n\nreturn msgswe;*/","outputs":1,"noerr":0,"x":200,"y":480,"wires":[["7825344c.b29794"]]},{"id":"5ec7f146.945e08","type":"csv","z":"73646dca.234574","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":190,"y":440,"wires":[["7e2a25c7.531b7c"]]},{"id":"5cb96503.2dea4c","type":"file in","z":"73646dca.234574","name":"file sweden","filename":"C:\\Users\\tsusi\\Desktop\\sweden_csv.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":210,"y":400,"wires":[["5ec7f146.945e08"]]},{"id":"a0d87269.a659b8","type":"csv","z":"73646dca.234574","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":410,"y":440,"wires":[["76de675e.2af56"]]},{"id":"f8c2fa5f.c04dc","type":"file in","z":"73646dca.234574","name":"file usa","filename":"C:\\Users\\tsusi\\Desktop\\usa_csv.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":400,"wires":[["a0d87269.a659b8"]]},{"id":"7825344c.b29794","type":"join","z":"73646dca.234574","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":190,"y":520,"wires":[["14e48a88.d9d525"]]},{"id":"14e48a88.d9d525","type":"function","z":"73646dca.234574","name":"MERGE","func":"var swearr=[];\nvar usarr=[];\n\nswearr=msg.payload.swe;\nusarr=msg.payload.usa;\n\n\nvar finmsg = {};\nvar m={};\nm.labels = [\"Low\", \"Low Middle\", \"Middle\", \"Up Middle\", \"High\"];\nm.series = ['Sweden', 'United States'];\nm.data = [swearr,usarr];\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["78eece05.db1d68","b74f535a.a58ba8"]]},{"id":"78eece05.db1d68","type":"ui_chart","z":"73646dca.234574","name":"","group":"26771aeb.e52efe","order":0,"width":"12","height":"8","label":"INCOME DIST","chartType":"bar","legend":"true","xformat":"SSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#fb0000","#37db33","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":520,"wires":[[]]},{"id":"b74f535a.a58ba8","type":"debug","z":"73646dca.234574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":580,"wires":[]},{"id":"76de675e.2af56","type":"function","z":"73646dca.234574","name":"USA","func":"var arr=[];\nfor (let i=0; i<msg.payload.length; i++){\n    let value = msg.payload[i].col1;\n    let x = msg.payload[i].col2;\n    if (typeof value ==\"string\" && value.indexOf('-')> -1){\n        \n        let str = value.split('-');\n        let m = (parseInt(str[0])+parseInt(str[1]))/2;\n        \n        let obj = { \"x\" : x, \"y\" : m };\n        arr.push(obj);\n        \n    }else{\n        \n        let obj = { \"x\" : x, \"y\" : m };\n        arr.push(obj);\n        \n    }\n    \n}\nvar high=0;\nvar upmiddle=0;\nvar middle=0;\nvar lowmiddle=0;\nvar low=0;\nvar sum=0;\n\nfor (let i=0; i<arr.length; i++){\n    let eclass=[];\n    let x = arr[i].x;\n    if (arr[i].y >= 97500){\n        eclass[i]=4;\n        high+=x\n    }else if (arr[i].y >=86000){\n        eclass[i]=3;\n        upmiddle+=x;\n    }else if (arr[i].y >=42000){\n        eclass[i]=2;\n        middle+=x\n    }else if (arr[i].y >= 31000){\n        eclass[i]=1;\n        lowmiddle+=x;\n    }else{\n        eclass[i]=0;\n        low+=x;\n    }\n    sum=sum+x;\n}\n\n\nvar shigh, supmiddle, smiddle, slowmiddle, slow;\nshigh = high/sum;\nsupmiddle = upmiddle/sum;\nsmiddle = middle/sum;\nslowmiddle = lowmiddle/sum;\nslow = low/sum;\n\nvar obj1 = {x:1,y:slow};\nvar obj2 = {x:2,y:slowmiddle};\nvar obj3 = {x:3,y:smiddle};\nvar obj4 = {x:4,y:supmiddle};\nvar obj5 = {x:5,y:shigh};\n\n\n\nvar objarr=[slow,slowmiddle,smiddle,supmiddle,shigh];\n\n//objarr.push(obj1,obj2,obj3,obj4,obj5);\n\n\n\nvar m={};\nm.topic =\"usa\";\nm.payload = objarr;\nreturn m;\n/*var msg1={};\n\nmsg1.payload\n\n\nvar msgswe ={};\nmsgswe.payload=arr;\nmsgswe.topic=\"swe\";\n\n\n\nreturn msgswe;*/","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["7825344c.b29794"]]},{"id":"26771aeb.e52efe","type":"ui_group","z":"","name":"Group 1","tab":"fed19b3b.16b1e8","order":1,"disp":true,"width":"12","collapse":false},{"id":"fed19b3b.16b1e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
